<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <% if(messages.success) {%>
          <div class="note note-success mb-3">
            <strong>Note success:</strong><%= messages.success %>
          </div>
        <%} %>
        <% if(messages.cancel) {%>
          <div class="note note-info mb-3">
            <strong>Note info:</strong><%= messages.cancel %>
          </div>
        <%} %>
        
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Order</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Thời gian</th>
                <th>Thanh toán</th>
              </tr>
            </thead>
            <tbody>
                <% if (orders.length) {%>
                    <% orders.forEach((order) => {%>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img
                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                        />
                    <div class="ms-3">
                      <p class="fw-bold mb-1"><a href="/customer/order/<%= order._id %>" style="text-decoration: none; color: rgb(74, 74, 74);"><%= order._id %></a></p>
                      <table>
                        <tbody>
                            <% for (let i = 0; i < Object.values(order.items).length; i++) { %>
                                <tr class="">
                                    <td class="text-muted mb-0"><%= Object.values(order.items)[i].item.name %>:</td>
                                    <td class="text-muted mb-0">$<%= Object.values(order.items)[i].item.price %>x</td>
                                    <td class="text-muted mb-0"><%= Object.values(order.items)[i].quantity %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    </div>
                  </div>
                </td>
                <td>
                    <%= order.address %>
                </td>
                <td>
                  <span><%= order.phone %></span>
                </td>
                <td><%= moment(order.createdAt).format('hh:mm A') %></td>
                <td>
                    <% if (order.paymentType === 'COD') { %>
                        <span class="badge badge-warning rounded-pill d-inline">Thanh toán khi nhận hàng</span>
                    <%} else {%>
                        <span class="badge badge-primary rounded-pill d-inline">Thanh toán qua Paypal</span>
                    <%}  %>
                </td>
              </tr>
              
              <%}) %>
              <%} else {%>
                  <%} %>
            </tbody>
        </table>
    </div>
  </div>
</section>